# Ignore folders.
.storage
.cloud
.google.token
.google_maps_location_sharing.cookies
.HA_VERSION
.uuid
.vscode
.androidkeys
deps
tts
assets
appdaemon
node-red
tensorflow
esphome
glances
custom_components
CNAME

# Ignore Directories
www/community
www/upcoming-media-card
www/images/afvalbeheer
www/images/users
www/images/wallpapers
www/images/hki

# Pictures Ignore
upstairs.svg
upstairs.png
downstairs.png
downstairs.svg
floor_plan.svg
floorplan.png
background.jpg

# Ignore yaml
appdaemon.yaml
google_calendars.yaml
ip_bans.yaml
known_devices.yaml
secrets.yaml


# Ignore HKI Structure
packages/hki_languages
packages/homekit_infused
themes
lovelace/custom_header
lovelace/includes
lovelace/templates
lovelace/views
global_config

# Ignore Python
#__pycache__
#__init__.py
*.py

# Ignore Log Files
*.log

# Ignore Workspace
homeassistant.code-workspace


# Ignore Configs
harmony_harmony_hub.conf
plex.conf
fcm_android_registrations.conf
webostv.conf

# Ignore Database
home-assistant_v2.db
home-assistant_v2.db-shm
home-assistant_v2.db-wal
appdaemon/access.log.1
appdaemon/access.log.2
appdaemon/access.log.3
appdaemon/error.log

# Ignore JS
*.js

# Ignore Configs
*.conf

# Ignore Zips 
*.7z

# Certificates
rsa.pub
rsa
ssh.pub
ssh
unraid.pub
hassio.code-workspace
home-assistant_v2.7z
