access_token: '1234567890'
unifi_protect_username: username
unifi_protect_password: password
dark_sky_api: 'abababababababababababababa'
google_calendar_id: '12345678901-abababababababababababababababab.apps.googleusercontent.com'
google_calendar_secret: 'abababababababababababababa'
nest_client_id: 'abababababababababababababa'
nest_client_secret: 'abababababababababababababa'
speedtest_server_id: '1234'
wemo_0_ip_address: '0.0.0.0'
wemo_1_ip_address: '0.0.0.0'
tplink_0_ip_address: '0.0.0.0'
host_ip_address: '0.0.0.0'
nzbget_server_name: 'name'
nzbgetuser: 'username'
nzbgetpass: 'password'
nzbget_port: '1234'
nzbget_url: 'http://0.0.0.0:1234/'
hassio_location: 'place'
hassio_latitude: '00.000000'
hassio_longitude: '-0.000000'
user1_work: 'place'
user1_work_latitude: '00.000000'
user1_work_longitude: '-0.000000'
user2_work: 'place'
user2_work_latitude: '00.000000'
user2_work_longitude: '-0.000000'
user_1: 'name'
user_2: 'name'
user_1_to_home: 'somewhere to somewhere'
user_2_to_home: 'somewhere to somewhere'
living_room_tv_ip: '0.0.0.0'
living_room_tv_mac: '00-00-00-00-00-00'
denon_avr_ip: '0.0.0.0'
bedroom_tv_ip: '0.0.0.0'
living_room_shield_tv_ip: '0.0.0.0'
bedroom_shield_tv_ip: '0.0.0.0'
cloud_key_ip: '0.0.0.'
cloud_key_port: '12345'
docker_ip: '0.0.0.0'
docker_port: '12345'
pfsense_ip: '0.0.0.0'
pfsense_port: '12345'
radarr_server_name: 'name'
radarr_port: '1234'
radarr_api_key: 'abababababababababababababa'
radarr_url: 'http://0.0.0.:1234/radarr/'
sonarr_server_name: 'name'
sonarr_api_key: 'abababababababababababababa'
sonarr_port: '1234'
sonarr_url: 'http://0.0.0.:1234/sonarr'
plex_host: '0.0.0.0'
plex_port: '12345'
plex_username: 'username'
plex_password: 'password'
plex_server_name: 'name'
plex_token: 'abababababababababa'
plex_ssl: false
plex_public_ip: '0.0.0.0'
plex_public_port: '1234'
geocode_api_key: 'abababababababababababababa'
geocode_user_1: 'name'
geocode_device_tracker_1: 'device_tracker.some_device'
geocode_user_2: 'name'
geocode_device_tracker_2: 'device_tracker.some_device'
user_1_device_tracker: 'device_tracker.some_device'
user_2_device_tracker: 'device_tracker.some_device'
unifi_username: 'username'
unifi_password: 'somepassword'
unifi_host: '0.0.0.0'
unifi_port: '1234'
unifi_ssl: false
unifi_site: 'somename'
unifi_ssid1: 'some_ssid'
unifi_ssid2: 'some_ssid'
user_1_phone: 'some device'
user_2_phone: 'some device'
server_service_name: 'some_server'
server_host_name: 'some_name'
server_mac_address: '00-00-00-00-00-00'
server_ip_address: '0.0.0.0'
server_broadcast: '111.222.333.444'
server_off_cmd: "some ssh command 1234"
node_red_cred: 'abababababababababababababa'
deconz_vnc_pass: 'abababababababababababababa'
github_access_token: 'abababababababababababababa'
google_username: 'some@email.com'
google_password: 'somepassword'
notifier_user_one: 'some_username'
notifier_noodlemctwoodle: 'somepassword12345'
push_api_key: 'blah_blah_blah_some_password'
ifttt_api: 'omg_so_many_secrets!!!'
server_ip_address_vlan20: '1.2.3.4'